        :root {
            --bg-color-primary: #1f2937;
            --bg-color-accent: #3882f6;
            --bg-color-secondary: #e5e7eb;

            --text-color-primary: #1f2937;
            --text-color-accent: #f9faf8;
            --text-color-secondary: #e5e7eb;
        }

        @font-face {
            font-family: "Roboto";
            src: url('fonts/Roboto/Roboto-Regular.ttf') format("truetype");
        }

        @font-face {
            font-family: "Roboto-Thin";
            src: url('fonts/Roboto/Roboto-Thin.ttf') format("truetype");
        }

        @font-face {
            font-family: "Roboto-Light";
            src: url('fonts/Roboto/Roboto-Light.ttf') format("truetype");
        }

        @font-face {
            font-family: "Roboto-LightItalic";
            src: url('fonts/Roboto/Roboto-LightItalic.ttf') format("truetype");
        }

        @font-face {
            font-family: "Roboto-Bold";
            src: url('fonts/Roboto/Roboto-Bold.ttf') format("truetype");
        }

        @font-face {
            font-family: "Roboto-ExtraBold";
            src: url('fonts/Roboto/Roboto-Black.ttf') format("truetype");
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Roboto", Arial, Helvetica, sans-serif;
            font-size: 18px;
        }

        .text-light {
            font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
        }


        /* header */

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 18vw;
            background-color: var(--bg-color-primary);
        }

        header .logo {
            font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
            font-size: 24px;
            text-decoration: none;
            color: var(--text-color-accent);
        }

        header .nav-bar {
            display: flex;
            width: 40%;
            justify-content: end;
            flex-wrap: wrap;
            gap: 10px;
        }
        .nav-elem{
            text-decoration: none;
            margin-left: 35px;
            color: var(--text-color-secondary);
            font-size: 18px;
        }

        .nav-elem.selected{
            font-family: "Roboto-ExtraBold", Arial, Helvetica, sans-serif;
        }

        .section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 20px 18vw;
            width: 100vw;
        }


        /* section 1 */

        .section-1 {
            flex-direction: row;
            background-color: var(--bg-color-primary);
            color: var(--text-color-secondary);
            padding-bottom: 80px;
            flex-wrap: wrap-reverse;
        }

        .hero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            width: 50%;
            min-width: 300px;
            padding-right: 20px;
        }

        .hero .hero-main {
            font-family: "Roboto-ExtraBold", Arial, Helvetica, sans-serif;
            color: var(--text-color-accent);
            font-size: 48px;
            margin-bottom: 20px;
        }

        .hero .hero-sub {
            color: var(--text-color-secondary);
            font-size: 18px;
            margin-bottom: 20px;
        }

        .hero-pic {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            min-width: 300px;
            padding: 10px 0;
        }

        .cta-button {
            background-color: var(--bg-color-accent);
            color: var(--text-color-accent);
            font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            min-width: 120px;
        }

        /*  section 2 */

        .section-2 {
            font-family: "Roboto-ExtraBold", Arial, Helvetica, sans-serif;
            font-size: 36px;
        }

        .section-2 .program-details-section {
            font-family: "Roboto", Arial, Helvetica, sans-serif;
            font-size: 18px;
            display: flex;
            justify-content: space-evenly;
            padding: 10px 10%;
            flex-wrap: wrap;
            align-content: space-around;
        }

        .program-details-section .detail-element {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px;
        }

        .program-details-section .detail-element p {
            margin-top: 10px;
            text-align: center;
        }

        .detail-element .img {
            display: flex;
            width: 10rem;
            height: 10rem;
            border: 4px solid var(--bg-color-accent);
            border-radius: 15px;
            padding: 10px;
        }

        .img img{
            margin: auto;
            width: 100%;
        }


        /* section 3 */

        .section-3 {
            background-color: var(--bg-color-secondary);
        }

        .quote-section{
            display: flex;
            flex-direction: column;
            margin: 80px 0px;
            padding: 0px 10%;
            min-width: 300px;
        }
        .quote-section p{
            text-align: center;
            font-family: "Roboto-LightItalic", Arial, Helvetica, sans-serif;
            font-size: 36px;
            color: var(--text-color-primary);
            max-height: 100%;
        }

        .quote-section span{
            font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
            font-size: larger;
            text-align: end;
        }
        
        /* Section 4 */

        .section-4 .CTA-element{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            min-height: 120px;
            margin: 50px auto;
            padding: 15px 10%;
            background-color: var(--bg-color-accent);
            color: var(--text-color-secondary);
            border-radius: 8px ;
            flex-wrap: wrap;
        }

        .CTA-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            flex-grow: 1;
        }

        .CTA-text h4{
            font-family: "Roboto", Arial, Helvetica, sans-serif;
            font-size: 18px;
            color: var(--text-color-accent);
        }
        .CTA-text h5{
            font-family: "Roboto-Thin", Arial, Helvetica, sans-serif;
            font-size: 16px;
        }

        .CTA-element .cta-button{
            border: 2px solid var(--bg-color-secondary);
            margin: 25px 60px;
            min-width: 150px;
            min-height: 50px;
        }

        /* Footer */

        footer{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            height: 100px;
            background-color: var(--bg-color-primary);
        }

        footer p {
            color: var(--bg-color-secondary);
        }